.filters {
    position: relative;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: white;
    position: relative;
    display: inline-block;

}
button {
    position: relative;
    font-size: 18px;
    background: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    margin-top: 11px;
    float: right;
    right: 30px;
}
button:hover {
    opacity: 0.9;
}
h3 {
    color: black;
    margin-left: 30px;
    line-height: 8px;
    font-weight: 600;
}
h4 {
    color: black;
    line-height: 2px;
    margin-left: 30px;
    font-weight: 400;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    float: left;
}
.amenities {
    height: 100%;
    width: 25%;
    float:left;
}
.popover {
    width: 25%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #FAFAFA;
    padding-bottom: 30px;
    overflow: hidden;
    max-height: 300px;
    margin-top: 6px;
    display: none;
    position: absolute;
    color: black;
    float: left;
    overflow-y: scroll;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 20px;
}
li {
    text-indent: 40px;
    padding-bottom: 10px;
}
.amenities:hover .popover,
.locations:hover .popover {
    display: table-cell;
}